<!-- Header -->
<header class="header">
    <div class="header__container container">
        <a class="header__logo" href="./index.html" aria-label="Логотип">
            <svg class="header__icon" width="66" height="55">
                <use href="./images/sprite.svg#Logo"></use>
            </svg>
        </a>

<!-- Navigation -->
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link" href="#about">О нас</a>
            </li>

            <li class="nav__item">
                <a class="nav__link" href="#prices">Услуги и цены</a>
            </li>

            <li class="nav__item">
                <a class="nav__link" href="#masters">Мастера</a>
            </li>

            <li class="nav__item">
                <a class="nav__link" href="#contacts">Контакты</a>
            </li>
        </ul>
        
        <div class="nav__wrapper">
            <a class="nav__link" href="tel:+380441111111">+38 044 111 11 11</a>
            <a class="nav__btn" href="#sign">онлайн-запись</a>
        </div>
    </nav>

<!-- Burger-button -->
    <button
      class="burger__btn" type="button" aria-label="Открытие мобильного меню" aria-expanded="false" data-menu-button>
      <span class="burger__item burger__item--top"></span>
      <span class="burger__item burger__item--center"></span>
      <span class="burger__item burger__item--bottom"></span>
    </button>

<!-- Mobile menu -->      
    <div class="backdrop" data-menu>
        <div class="mobile-menu">
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#about" data-mobile-link>О нас</a>
                </li>

                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#prices" data-mobile-link>Услуги и цены</a>
                </li>

                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#masters" data-mobile-link>Мастера</a>
                </li>

                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#contacts" data-mobile-link>Контакты</a>
                </li>
            </ul>

            <div class="mobile-menu__contacts">
                <a class="mobile-menu__link" href="tel:+380441111111">+38 044 111 11 11</a>
                <a class="mobile-menu__btn" href="#sign" data-mobile-link>онлайн-запись</a>
            </div>

<!-- Site-social -->
            <ul class="mobile-menu__social social">
                <li class="social__item">
                    <a class="social__link" href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener">Instagram</a>                    
                </li>

                <li class="social__item">
                    <a class="social__link" href="https://www.youtube.com/" target="_blank" rel="noreferrer noopener">Youtube</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</header>