<!-- Hero -->
<section class="hero">
    <div class="hero__container container">

        <div class="hero__aside">                 
            <ul class="hero__social social">
                <li class="social__item">
                    <a class="social__link" href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener">Instagram</a>
                </li>

                <li class="social__item">
                    <a class="social__link" href="https://www.youtube.com/" target="_blank" rel="noreferrer noopener">Youtube</a>
                </li>
            </ul>
        </div>
        
        <div class="hero__content">
            <p class="hero__subtitle" lang="en">A hair salon for men in Kyiv</p>
            <h1 class="hero__title" lang="en">BarberShop</h1>
            <p class="hero__text">Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со вкусом.</p>
        </div>

    </div>
    
<!-- Slider -->
    <div class="slider-contain">
        <div class="slider">
            <picture>
                <source srcset="./images/hero/Slider1-mob.w.webp 1x, ./images/hero/Slider1-mob@2x.w.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                <source srcset="./images/hero/Slider1-tab.w.webp 1x, ./images/hero/Slider1-tab@2x.w.webp 2x" type="image/webp"
                    media="(max-width: 1199px)" />
                <source srcset="./images/hero/Slider1-desk.w.webp 1x, ./images/hero/Slider1-desk@2x.w.webp 2x" type="image/webp"
                    media="(min-width: 1200px)" />
                <source srcset="./images/hero/Slider1-mob.jpg 1x, ./images/hero/Slider1-mob@2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                <source srcset="./images/hero/Slider1-tab.jpg 1x, ./images/hero/Slider1-tab@2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 1199px)" />
                <source srcset="./images/hero/Slider1-desk.jpg 1x, ./images/hero/Slider1-desk@2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 1200px)" />
                <img class="slider__img" src="./images/hero/Slider1.jpg" alt="Барбер укладывает волосы клиенту" width="480" height="580"/>
            </picture>

            <picture>
                <source srcset="./images/hero/Slider2-mob.w.webp 1x, ./images/hero/Slider2-mob@2x.w.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                <source srcset="./images/hero/Slider2-tab.w.webp 1x, ./images/hero/Slider2-tab@2x.w.webp 2x" type="image/webp"
                    media="(max-width: 1199px)" />
                <source srcset="./images/hero/Slider2-desk.w.webp 1x, ./images/hero/Slider2-desk@2x.w.webp 2x" type="image/webp"
                    media="(min-width: 1200px)" />
                <source srcset="./images/hero/Slider2-mob.jpg 1x, ./images/hero/Slider2-mob@2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                <source srcset="./images/hero/Slider2-tab.jpg 1x, ./images/hero/Slider2-tab@2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 1199px)" />
                <source srcset="./images/hero/Slider2-desk.jpg 1x, ./images/hero/Slider2-desk@2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 1200px)" />
                <img class="slider__img" src="./images/hero/Slider2.jpg" alt="Барбер берет в руки опасную бритву" width="480" height="580" />
            </picture>

            <picture>
                <source srcset="./images/hero/Slider3-mob.w.webp 1x, ./images/hero/Slider3-mob@2x.w.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                <source srcset="./images/hero/Slider3-tab.w.webp 1x, ./images/hero/Slider3-tab@2x.w.webp 2x" type="image/webp"
                    media="(max-width: 1199px)" />
                <source srcset="./images/hero/Slider3-desk.w.webp 1x, ./images/hero/Slider3-desk@2x.w.webp 2x" type="image/webp"
                    media="(min-width: 1200px)" />
                <source srcset="./images/hero/Slider3-mob.jpg 1x, ./images/hero/Slider3-mob@2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                <source srcset="./images/hero/Slider3-tab.jpg 1x, ./images/hero/Slider3-tab@2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 1199px)" />
                <source srcset="./images/hero/Slider3-desk.jpg 1x, ./images/hero/Slider3-desk@2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 1200px)" />
                <img class="slider__img" src="./images/hero/Slider3.jpg" alt="Барбер делет волосы на зоны для стрижки" width="480" height="580" />   
            </picture>
        </div>
    </div>

    <div class="slider-controls">
        <button aria-label="Previous" class="slider-controls__prev">
            <span class="slider-controls__text">Впере</span>д
        </button>

        <button aria-label="Next" class="slider-controls__next">
            <span class="slider-controls__text">Наза</span>д
        </button>
    </div>

    <div class="slider__dots" role="tablist"></div>
</section>
