<div class="wrapper">
    <!-- Online subscribe -->
    <section class="online-subs" id="sign">
        <div class="container">
            <h2 class="online-subs__title">Онлайн-запись</h2>

            <form class="online-subs__form" autocomplete="off">
                <label class="online-subs__label">
                    <input class="online-subs__input" type="text" name="name" placeholder="Имя*" title="Имя*" required>
                </label>
    
                <label class="online-subs__label">
                    <input class="online-subs__input" type="tel" name="phone" placeholder="Телефон*" title="Телефон*" required>
                </label>
    
                <label class="online-subs__label online-subs__label--textarea">
                    <textarea class="online-subs__input online-subs__input--textarea" name="message" placeholder="Сообщение" required></textarea>
                </label>
                
                <button class="online-subs__btn" type="submit">отправить</button>
            </form>

        </div>
    </section>
            
    <!-- Contacts -->
    <section class="contacts" id="contacts">
        <div class="contacts__container container">
            <h2 class="contacts__title">Контакты</h2>

            <address class="contacts__address">
                <ul class="contacts__list">
                    <li class="contacts__item">
                        <a class="contacts__link" href="https://goo.gl/maps/ZZ766NZj3NoqfMpMA" target="_blank" rel="noreferrer noopener">
                            <svg class="contacts__icon" width="24" height="24">
                                <use href="images/svg/map-pin.svg"></use>
                            </svg> 
                            ул. Васильковая, 7А Киев, 08132</a>
                    </li>
        
                    <li class="contacts__item">
                        <a class="contacts__link" href="tel:+380441111111">
                            <svg class="contacts__icon" width="24" height="24">
                                <use href="images/svg/phone.svg"></use>
                            </svg>
                            +38 044 111 11 11</a>
                    </li>
        
                    <li class="contacts__item">
                        <a class="contacts__link contacts__link--mail" href="mailto:barbershop@email.com">
                            <svg class="contacts__icon" width="24" height="24">
                                <use href="images/svg/mail.svg"></use>
                            </svg>
                            barbershop@email.com</a>
                    </li>
                </ul>
            </address>
            
            <div class="contacts__wrapper">
                <b class=contacts__subtitle">время работы</b>
                <p class="contacts__time">Ежедневно с 9:00 до 22:00</p>
            </div>
        </div>
    </section>
</div>