<!-- Portfolio -->
<section class="portfolio">
    <div class="container">
        <p class="portfolio__subtitle">На латинском языке “барба” означает “борода”</p>
        <h2 class="visually-hidden">Портфолио</h2>
        <!-- скрыть! -->
        
        <ul class="portfolio__list">
            <li class="portfolio__item">
                <picture>
                    <source srcset="./images/portfolio/img1-mob.w.webp 1x, ./images/portfolio/img1-mob@2x.w.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                    <source srcset="./images/portfolio/img1-tab.w.webp 1x, ./images/portfolio/img1-tab@2x.w.webp 2x" type="image/webp"
                    media="(max-width: 1199px)" />
                    <source srcset="./images/portfolio/img1-desk.w.webp 1x, ./images/portfolio/img1-desk@2x.w.webp 2x" type="image/webp"
                    media="(min-width: 1200px)" />
                    <source srcset="./images/portfolio/img1-mob.jpg 1x, ./images/portfolio/img1-mob@2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                    <source srcset="./images/portfolio/img1-tab.jpg 1x, ./images/portfolio/img1-tab@2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 1199px)" />
                    <source srcset="./images/portfolio/img1-desk.jpg 1x, ./images/portfolio/img1-desk@2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 1200px)" />
                    <img src="./images/portfolio/img1.jpg" alt="изображение барбера, который работает" width="270" height="360" loading="lazy" />
                </picture>
            </li>
    
            <li class="portfolio__item">
                <picture>
                    <source srcset="./images/portfolio/img2-mob.w.webp 1x, ./images/portfolio/img2-mob@2x.w.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                    <source srcset="./images/portfolio/img2-tab.w.webp 1x, ./images/portfolio/img2-tab@2x.w.webp 2x" type="image/webp"
                    media="(max-width: 1199px)" />
                    <source srcset="./images/portfolio/img2-desk.w.webp 1x, ./images/portfolio/img2-desk@2x.w.webp 2x" type="image/webp"
                    media="(min-width: 1200px)" />
                    <source srcset="./images/portfolio/img2-mob.jpg 1x, ./images/portfolio/img2-mob@2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                    <source srcset="./images/portfolio/img2-tab.jpg 1x, ./images/portfolio/img2-tab@2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 1199px)" />
                    <source srcset="./images/portfolio/img2-desk.jpg 1x, ./images/portfolio/img2-desk@2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 1200px)" />
                    <img src="./images/portfolio/img2.jpg" alt="изображение барбера, который работает" width="270" height="360" loading="lazy"/>
                </picture>
            </li>
    
            <li class="portfolio__item">
                <picture>
                    <source srcset="./images/portfolio/img3-mob.w.webp 1x, ./images/portfolio/img3-mob@2x.w.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                    <source srcset="./images/portfolio/img3-tab.w.webp 1x, ./images/portfolio/img3-tab@2x.w.webp 2x" type="image/webp"
                    media="(max-width: 1199px)" />
                    <source srcset="./images/portfolio/img3-desk.w.webp 1x, ./images/portfolio/img3-desk@2x.w.webp 2x" type="image/webp"
                    media="(min-width: 1200px)" />
                    <source srcset="./images/portfolio/img3-mob.jpg 1x, ./images/portfolio/img3-mob@2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                    <source srcset="./images/portfolio/img3-tab.jpg 1x, ./images/portfolio/img3-tab@2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 1199px)" />
                    <source srcset="./images/portfolio/img3-desk.jpg 1x, ./images/portfolio/img3-desk@2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 1200px)" />
                    <img src="./images/portfolio/img3.jpg" alt="мастер за работой" width="270" height="360" loading="lazy">
                </picture>
            </li>

            <li class="portfolio__item">
                <picture>
                    <source srcset="./images/portfolio/img4-mob.w.webp 1x, ./images/portfolio/img4-mob@2x.w.webp 2x" type="image/webp"
                    media="(max-width: 767px)" />
                    <source srcset="./images/portfolio/img4-tab.w.webp 1x, ./images/portfolio/img4-tab@2x.w.webp 2x" type="image/webp"
                    media="(max-width: 1199px)" />
                    <source srcset="./images/portfolio/img4-desk.w.webp 1x, ./images/portfolio/img4-desk@2x.w.webp 2x" type="image/webp"
                    media="(min-width: 1200px)" />
                    <source srcset="./images/portfolio/img4-mob.jpg 1x, ./images/portfolio/img4-mob@2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 767px)" />
                    <source srcset="./images/portfolio/img4-tab.jpg 1x, ./images/portfolio/img4-tab@2x.jpg 2x" type="image/jpeg"
                    media="(max-width: 1199px)" />
                    <source srcset="./images/portfolio/img4-desk.jpg 1x, ./images/portfolio/img4-desk@2x.jpg 2x" type="image/jpeg"
                    media="(min-width: 1200px)" />
                    <img src="./images/portfolio/img4.jpg" alt="мастер за работой" width="270" height="360" loading="lazy">
                </picture>
            </li>
        </ul>
    </div>
</section>
