<!-- Services and prices -->
<section class="prices" id="prices">
    <div class="container">
        <p class="prices__subtitle">Проведи время в компании лучших мастеров</p>
        <h2 class="prices__title">Услуги и цены</h2>
        
        <div class="prices__wrapper">
            <ul class="prices__list">
                <li class="prices__item">
                    <p class="prices__text">Мужская стрижка</p>
                    <span class="prices__count">от 300 грн.</span>
                </li>

                <li class="prices__item">
                    <p class="prices__text">Стрижка бороды</p>
                    <span class="prices__count">от 200 грн.</span>
                </li>

                <li class="prices__item">
                    <p class="prices__text">Стрижка усов</p>
                    <span class="prices__count">от 200 грн.</span>
                </li>

                <li class="prices__item">
                    <p class="prices__text">Бритье опасной бритвой</p>
                    <span class="prices__count">от 200 грн.</span>
                </li>
            </ul>
            
            <ul class="prices__list">
                <li class="prices__item">
                    <p class="prices__text">Cтрижка у стажера</p>
                    <span class="prices__count">от 50 грн.</span>
                </li>

                <li class="prices__item">
                    <p class="prices__text">Стрижка под насадку</p>
                    <span class="prices__count">от 200 грн.</span>
                </li>

                <li class="prices__item">
                    <p class="prices__text">Детская стрижка (до 12 лет)</p>
                    <span class="prices__count">от 300 грн.</span>
                </li>

                <li class="prices__item">
                    <p class="prices__text">Камуфлирование седины</p>
                    <span class="prices__count">от 200 грн.</span>
                </li>
            </ul>
        </div>
        
        <a class="prices__btn" href="#sign">онлайн-запись</a>
    </div>
</section>
