<section class="reasons">
    <div class="reasons__container container ">

        <div class="reasons__wrapper">
            <p class="reasons__subtitle">старая традиционная школа</p>
            <h2 class="reasons__title">Почему приходят именно к нам?</h2>
            <p class="reasons__description">О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем 10 раз прочитать.</p>
        </div>
        
        <ul class="reasons__list">
            <li class="reasons__item">
                <span class="reasons__number">600</span>
                <p class="reasons__text">Довольных клиентов в день</p>
            </li>

            <li class="reasons__item">
                <span class="reasons__number">50</span>
                <p class="reasons__text">Наград за отличный сервис</p>
            </li>

            <li class="reasons__item">
                <span class="reasons__number">20</span>
                <p class="reasons__text">Лучших мастеров Киева</p>
            </li>

            <li class="reasons__item">
                <span class="reasons__number">100</span>
                <p class="reasons__text">Подарков постоянным клиентам</p>
            </li>
        </ul>
    </div>
</section>
