/* About Us */
.about {
    @extend %section;
    color: $third-color;
}

.about__container {
    display: flex;
}

.about__aside {
    display: none;

    @include mq(tablet) {
        display: flex;
        width: 330px;
        gap: 30px;
    }

    @include mq(tablet-only) {
        flex-direction: column;
        margin-right: 30px;
    }

    @include mq(desktop) {
        width: 570px;
        margin-right: 64px;
    }
}

.about__img {
    @include mq(desktop) {
        width: 270px;
        height: 445px;
    }
}

.about__content {
    @include mq(tablet-only) {
        width: 330px;
    }

    @include mq(desktop) {
        width: 500px;
    }
}

.about__subtitle {
    @extend %subtitle;
    color: $primary-color;
}

.about__title {
    @extend %title;

    @include mq(not-desktop) {
        font-size: 28px;
    }
}

.about__text {
    @include fontStyle(400, 16px, 26px, 0.02em);
    margin-bottom: 20px;

    @include mq(desktop) {
        @include fontStyle(400, 18px, 30px, 0.02em);
    }
}

.about__description {
    @include fontStyle(400, 14px, 26px, 0.02em);
    margin-bottom: 40px;
}

.about__btn {
    @extend %btn;
    color: $primary-color;
}