/* Hero */
.hero {
    @extend %section;
    position: relative;
    min-height: 580px;
    padding-top: 0;
    padding-bottom: 0;
  
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
  
    @include mq(s-mobile) {
      min-height: calc(100vw * 1.21);
    }
  
    @include mq(mobile) {
      max-width: 480px;
      margin-right: auto;
      margin-left: auto;
      overflow: hidden;
    }
  
    @include mq(tablet) {
      max-width: 768px;
      background: none;
    }
  
    @include mq(desktop) {
      max-width: 1280px;
    }
  }
  
  .hero__container {
    @include mq(tablet) {
      display: flex;
    }
  }
  
  .hero__aside {
    display: none;
  
    @include mq(tablet) {
      display: flex;
      align-items: flex-end;
      padding-bottom: 40px;
    }
  
    @include mq(tablet-only) {
      width: 113px;
      padding-left: 30px;
    }
  
    @include mq(desktop) {
      width: 97px;
      padding-left: 17px;
    }
  }
  
  .hero__social {
    @include mq(tablet) {
      transform-origin: top left;
      transform: rotate(-90deg) translate(-15px);
      color: $primary-color;
    }
  }
  
  .hero__content {
    width: 100%;
    padding-top: 208px;
  
    @include mq(s-mobile) {
      padding-top: calc(10px + 30vw);
    }
  
    @include mq(mobile) {
      padding-bottom: 183px;
    }
  
    @include mq(tablet) {
      padding-bottom: 237px;
      padding-left: 70px;
  
      background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
    }
  
    @include mq(desktop) {
      max-width: 1073px;
      padding-bottom: 181px;
      padding-left: 96px;
    }
  }
  
  .hero__subtitle {
    @extend %subtitle;
    color: rgba(157, 164, 189, 0.6);
  }
  
  .hero__title {
    @extend %title;
    font-size: 48px;
    color: $secondary-color;
  
    @include mq(s-mobile) {
      font-size: calc(40px + 1vw);
    }
  
    @include mq(desktop) {
      font-size: 72px;
    }
  }
  
  .hero__text {
    max-width: 306px;
    @include fontStyle(400, 16px, 26px, 0.02em);

    @include mq(tablet-only) {
      max-width: 349px;
    }
  
    @include mq(desktop) {
      max-width: 400px;
      @include fontStyle(400, 18px, 30px, 0.02em);

    }
  }

/* Slider */
.slider__contain {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // z-index: -1;
  
    @include mq(tablet) {
      padding-left: 153px;
    }
  }

  .slider {
    height: inherit;
  }
  
  .slider__controls {
    position: absolute;
    width: 100%;
  
    @include mq(tablet) {
      right: calc((100vw - 768px) / 2 + 55px);
    }
  
    @include mq(desktop) {
      right: calc((100vw - 1280px) / 2 + 55px);
    }

    .prev,
    .next {
      position: absolute;
      width: auto;
      right: 0;
      bottom: 0;
      margin-bottom: 40px;
      margin-right: 39px;


      @include fontStyle(600, 11px, 15px, 0.1em);
      text-align: right;
      user-select: none;

      color: $secondary-color;
      border-bottom: 1px solid;
      cursor: pointer;
    
      transition: opacity 300ms linear, transform 300ms linear;

      &:hover {
        color: rgba(157, 164, 189, 0.6);
      }

      @include mq(mobile) {
        opacity: 0;
      }
    }

    .prev {
      right: 125px;
      padding: 0 12px 9px 0;
    }

    .next {
      padding: 0 0 9px 12px;

      @include mq(mobile) {
        margin: 0;
        padding: 100%;
        opacity: 0;
      }
    }
  }

  .slider__marks {
    position: absolute;
    top: 50%;
    right: 39px;

    text-align: center;

    @include mq(mobile) {
      display: none;
    }

    @include mq(tablet) {
      right: calc((100vw - 768px) / 2 + 39px);
    }

    @include mq(desktop) {
      right: calc((100vw - 1280px) / 2 + 55px);
    }

    .slider__line {
      display: block;
      width: 8px;
      height: 2px;
      margin: 12px 0 12px auto;

      transform: scaleX(1);
      transform-origin: center right;

      background-color: $text-color;

      &.active {
        transform: scaleX(2.25);

        background-color: $secondary-color;
      }
    }
  }

/* Go to top */
#btn {
  position: fixed;
  display: none;
  right: 10px;
  bottom: 30px;
  padding: 10px 15px;
  z-index: 99;

  font-size: 30px;

  color: $accent-color;
  background-color: $bg-color;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $third-color;
  }
}

/* Animation */
.btnEntra {
  animation-name: btnEntra;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes btnEntra {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-name: btnExit;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}
  
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform:  translate3d(0, 100%, 0);
  }
}
  
   